@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

label {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @include media-queries($lg, $xl) {
      width: 70%;
    }

    @include media-queries($xl, 99999999px) {
      width: 50%;
    }

    label,
    textarea {
      padding: 0.5rem;
    }

    textarea {
      border: 1px solid #e70ce7;
      border-radius: 10px;
      resize: none;
      font-size: 1rem;
      color: black;

      &:focus {
        outline: none;
      }
    }

    p {
      margin-top: 1rem;
      text-align: center;
    }
  }
}

.btn {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #e70ce7;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color ease-in-out 150ms;

  &:hover {
    background-color: lighten($color: #e70ce7, $amount: 10);
  }
}

#message {
  margin: 0.5rem 0;
  display: none;
}

.visible {
  display: block !important;
}
